* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Lato", "Noto Sans TC", sans-serif;
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #f6f7f8;
}

/* Header */
header {
  height: 60px;
  color: #666666;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}

nav {
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-link {
  color: #666666;
}

/* Main */
main {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 32px;
  margin: 24px 0 8px;
}

h3 {
  font-size: 21px;
  margin: 0 0 8px 0;
  font-weight: 500;
}

section {
  margin-bottom: 48px;
}

section.personal-info {
  margin-bottom: 0;
}

p {
  color: #666666;
}

/* Personal Intro */

.personal-intro {
  text-align: center;
  /* 內容置中 */
}

.avatar-img {
  border-radius: 25px;
  /* 圓框效果 */
}

.name {
  font-size: 32px;
  margin: 20px 0;
}

.social-media {
  margin-bottom: 20px;
}

.social-media-link {
  color: #999999;
  text-decoration: none;
  /* 沒有底線 */
  margin: 0 5px;
}

.social-media-link:hover {
  /* 滑鼠移過時啟用這組設定 */
  color: #ff6600;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  /* 內容置中 */
  letter-spacing: 2px;
  /* 字元間距 */
  color: #ff6600;
}

/* Skill Section */
.skill-name {
  border-top: 1px solid #999999;
  padding-top: 16px;
}

/* Experience Section */
hr {
  border: 0px;
  height: 1px;
  background: #cccccc;
  margin: 20px 0;
}

.company,
.duration {
  color: #666666;
  font-size: 12px;
  margin-right: 20px;
}

.fa-building,
.fa-calendar-alt {
  margin-right: 5px;
}

@media screen and (min-width: 576px) {

  nav,
  main {
    max-width: 900px;
    margin: 0 auto;
  }

  section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  section.skills {
    justify-content: space-between;
  }

  section.experiences {
    /* hr 呈現 */
    flex-direction: column;
  }

  h2 {
    width: 100%;
  }

  .skill {
    width: 31%;
  }
}

@media screen and (min-width: 1200px) {

  main,
  nav {
    max-width: 1304px;
    flex-flow: row wrap;
  }

  .wrapper {
    width: 71%;
    margin-left: 30px;
  }

  section.personal-info {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
  }

  section.experiences {
    flex-direction: row;
    justify-content: space-between;
  }

  .experience-item {
    width: 31%;
    border-top: 1px solid #999999;
    padding-top: 16px;
  }
}

/* hr 處理 mid 部分，large 為 layout 又增加了一條，因此選擇忽略 hr；改在experience-item 上方加 border  */