@charset "UTF-8";
/*
 * Theme definitions
 */
/*
 * Implementation of themes
 */
/*reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
menu {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: initial;
}

/*reset end*/
/* global */
html {
  font-size: 14px;
  height: 100%;
}
.theme-light html {
  color: black;
}
.theme-dark html {
  color: #e4e4e4;
}

/* global end */
/* style starts */
body {
  display: flex;
  height: 100%;
  min-height: 480px;
}
.theme-light body {
  background: #f3f3f3;
}
.theme-dark body {
  background: #202020;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 100px;
  padding-top: 30px;
}
.theme-light .sidebar {
  background: #03396a;
}
.theme-dark .sidebar {
  background: #3a3a3a;
}
.sidebar__home {
  min-height: 64px;
  background-size: 100% 100%;
  margin-bottom: 83px;
  cursor: pointer;
}
.theme-light .sidebar__home {
  background-image: url("/static/icons/logo.svg");
}
.theme-dark .sidebar__home {
  background-image: url("/static/icons/logo-dark.svg");
}
.sidebar__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.theme-light .sidebar__menu__link--active {
  background: white;
}
.theme-dark .sidebar__menu__link--active {
  background: white;
}
.sidebar__menu > div:not(:last-child) {
  margin-bottom: 55px;
}
.sidebar__darkmode__label {
  background-size: 100% 100%;
  cursor: pointer;
  height: 70%;
  width: 70%;
}
.theme-light .sidebar__darkmode__label {
  background-image: url("/static/icons/darkmode-on.svg");
}
.theme-dark .sidebar__darkmode__label {
  background-image: url("/static/icons/darkmode-off.svg");
}
.sidebar__darkmode__input {
  display: none;
}

.main {
  flex: 1;
  padding: 42px 50px 68px 50px;
  max-height: 100vh;
  overflow-y: auto;
}
.main__title {
  margin-bottom: 34px;
  font-size: 48px;
}
.main__table {
  /* ~ 是指該 el 後面的所有同層級 img，在這個案例原始 el 是 table ，而它甚至根本沒有排後面的同層級可選*/
  /* .main__table 之下的所有 img (沒有管層級）*/
}
.theme-light .main__table {
  background: #ffffff;
}
.theme-dark .main__table {
  background: #6b6b6b;
}
.main__table img {
  cursor: pointer;
}

.theme-light .table__header {
  background: #cdcdcd;
  color: black;
}
.theme-dark .table__header {
  background: #2e2e2e;
  color: #aaaaaa;
}
.table__row {
  height: 50px;
}
.theme-light .table__row {
  border-bottom: 1px solid #e4e4e4;
  color: black;
}
.theme-dark .table__row {
  border-bottom: 1px solid #e4e4e4;
  color: #e4e4e4;
}
.table__cell {
  text-align: center;
  width: 140px;
}
.table__cell--checkbox {
  width: 50px;
}
.table__cell--id {
  width: 80px;
}
.table__cell--description {
  width: 200px;
}
.table__cell--price, .table__cell--starttime, .table__cell--endtime {
  position: relative;
}
.table__cell--action {
  width: 210px;
  position: relative;
}
.table__cell--action .action__menu {
  z-index: 1;
  position: absolute;
  right: 50%;
  top: 100%;
  width: 140px;
  height: 120px;
}
.theme-light .table__cell--action .action__menu {
  background: #ffffff;
  border: 1px solid #e4e4e4;
}
.theme-dark .table__cell--action .action__menu {
  background: #6b6b6b;
  border: 1px solid #e4e4e4;
}
.table__cell--action .action__menu .menu__body {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}
.table__cell--action .action__menu .menu__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px;
}
.table__cell--action .action__menu .menu__item__icon {
  margin-right: 14px;
}
.table__cell--action .hidden {
  display: none;
}

.cell__advertiser__line {
  display: block;
}
.theme-light .cell__advertiser__line--group {
  color: #828282;
}
.theme-dark .cell__advertiser__line--group {
  color: rgba(255, 255, 255, 0.37);
}

.header__cell__icon--right {
  position: absolute;
  right: 0px;
}

/*# sourceMappingURL=main.css.map */
